{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto text-center fs-1 border border-2 border-dark mt-5 p-5">
<h3>Welcome To Home Page</h3>
</div>
{% endblock %}


<!--<h1>WELCOME TO LIBRARY</h1>-->
<!--<a href="{% url 'books:home' %}">HOME</a>-->
<!--<a href="{% url 'books:addbooks' %}">ADD BOOK</a>-->
<!--<a href="{% url 'books:viewbooks' %}">VIEW BOOK</a>-->
<!--<a href="{% url 'users:register' %}">REGISTER</a>-->
<!--<a href="{% url 'users:login' %}">LOGIN</a>-->
<!--<a href="{% url 'users:logout' %}">LOGOUT</a>-->
